body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(162, 68, 17);
  padding-bottom: 20rem;
}
.exam-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 12px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  width: 300px;
  background-color: antiquewhite;
}
input {
  font-family: inherit;
  padding: 6px 12px;
}
.login, .paid-fees, .exam-status, .score-input {
  display: flex;

}
.exam-status, .score-input input {
  font-family: inherit;
  padding: 4px 12px;
}
