body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.job-hunt {
  background-color: rgb(222, 223, 224);
  color: #c3452b;
  border-radius: 4rem;
  font-weight: bold;
  padding: 0px 25px;
  font-size: 18px;
}
.main-text {
  font-size: 27px;
  font-weight: bold;
  align-items: center;
}
.search-bar input {
  font-size: 16px;
  /* padding: 0.5rem 10rem; */
  border-radius: 10px;
  position: relative;
  width: 500px;
  height: 28px;
}